<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>HW2-2 JavaScript Basics</title>
	</head>
	<body>
		<h1>JavaScript Basics</h1>
		<script>
			// ===========================
			// Exercise 1
			// Step 1. Define the Function

			// Step 2. Evaluate the Output
			console.log(`Q1 - the 5th number is `); // expect output: Q1 - the 5th number is 3
			console.log(`Q1 - the 7th number is `); // expect output: Q1 - the 7th number is 8
			// ===========================

			// ===========================
			// Exercise 2
			// Step 1. Represent the Data

			// Step 2. Sort the Name
			console.log(`Q2 - sort by number:`); // expect output: Q2 - sort by number: Orange, Apple, Grape
			console.log(`Q2 - sort by total price:`); // expect output: Q2 - sort by total price: Orange, Grape, Apple
			// ===========================

			// ===========================
			// Exercise 3
			// Step 1. Represent the Data

			// Step 2. Search through Initials
			console.log(`Q3 - the UM handle for aw is`); // expect output: Q3 - the UM handle for aw is @aprilww
			console.log(`Q3 - the UM handle for SX is`); // expect output: Q3 - the UM handle for SX is @shiyuxu
			// ===========================
			
            // ===========================
			// Exercise 4
			// Step 1. Define the Function 'getLottery'

			// Step 2. Evaluate
			// console.log(`Q4 - random fruit ${getLottery(['Apple', 'Peach', 'Banana'])}`)
			// console.log(`Q4 - random number ${getLottery([1, 2, 3, 4, 5, 6, 7])}`)
			// ===========================
			
            // ===========================
			// Exercise 5
			// Step 1. Define the Stopwatch Object
			// let stopwatch = ...

			// Step 2. Evaluate

			// stopwatch.start()
			//
			// setTimeout(function(){
			//    stopwatch.stop()
			// }, 3000)
            // ===========================
		</script>
	</body>
</html>
