<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>HW2-2 JavaScript Basics</title>
	</head>
	<body>
		<h1>JavaScript Basics</h1>
		<script>
            // ===========================
			// Exercise 1
			// Step 1. Define the Function

			// Step 2. Evaluate the Output
			console.log(`Q1 - the 5th number is `); // expect output: Q1 - the 5th number is 3
			console.log(`Q1 - the 7th number is `); // expect output: Q1 - the 7th number is 8
			// ===========================


			// ===========================
			// Exercise 2
			// Step 1. Represent the Data

			// Step 2. Sort the Name
			console.log(`Q2 - sort by number:`); // expect output: Q2 - sort by number: Orange, Apple, Grape
			console.log(`Q2 - sort by total price:`); // expect output: Q2 - sort by total price: Orange, Grape, Apple
            // ===========================

		</script>
	</body>
</html>
