*{
    font-family: "Lucida Grande","sans-serif";
    /*box-sizing: border-box;*/
}
#demo{
    text-align: center;
    font-size: 40px;
    padding-top: 200px;
    padding-bottom: 100px;

}
body{
    background-image: url("image/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.col-sm-6{
    padding: 50px;
}

.card{
    height: 300px;
    opacity: 0.6;
}